<div class="sources">
  <div class="sidebar-header">SOURCE INFO</div>
  <h4>Source</h4>
  <p>{{data.0.source}}</p>
  <h4>Lineage</h4>
  <p>{{data.0.lineage}}</p>
  <h4>Transferer</h4>
  <p>{{data.0.transferer}}</p>
  <h4>Taper</h4>
  <p>{{data.0.taper}}</p>

  <div class="sources-header">Description</div>
  <p class="preformatted">{{data.0.description}}</p>
</div>
