<div class="sources">
  <div class="sidebar-header">SOURCE INFO</div>
  <h4>Source</h4>
  <p>{{source.source}}</p>
  <h4>Lineage</h4>
  <p>{{source.lineage}}</p>
  <h4>Transferer</h4>
  <p>{{source.transferer}}</p>
  <h4>Taper</h4>
  <p>{{source.taper}}</p>

  <div class="sources-header">Description</div>
  <p class="preformatted">{{source.description}}</p>
</div>
