<h3 class="list-header">SHOWS</h3>
<ul>
  {{#each shows}}
    <li>
      <a href="{{../artist}}/{{year}}/{{month}}/{{day}}" class="show-{{month}}-{{day}}">
        <span class="date">{{month}}/{{addZero day}}</span>
        <span class="subtitle">{{venue_name}}</span>
      </a>
    </li>
  {{/each}}
</ul>
